html {
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10 px de 16 px */
}
body {
    font-family: 'Lato', sans-serif;
}

/**Globlaes**/


h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

.contenedor {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

/*Header*/
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;     
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 6rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
}


.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem; /*18 px*/
    margin-right: 2rem;
    max-height: 60rem;
    ;
    
}
.navegacion a:last-of-type {
    margin-right: 0;
}

