html {
    font-size: 62.5%; /* Reset para REMS - 62.5% = 10 px de 16 px */
}
body {
    font-family: 'Lato', sans-serif;
}

/**Globlaes**/
.contenedor {
    max-width: 110rem;
    margin-left: auto;
    margin-right: auto;
}


/*Header*/
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;     
    }

.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem; /*18 px*/
    margin-right: 2px;
}
.navegacion a:last-of-type{
    margin-right: 0;
}
